{% include 'base.html' %}

{% block title %}
<title>Home</title>
{% endblock title %}

{% block body %}
<div class="container mt-5 bg-dark p-3" style="width:50%;">
    <form action="/" method="POST">
        <div class="mb-3">
            <label for="heading" class="form-label text-white">Heading</label>
            <input type="text" class="form-control" id="heading" name="heading">
        </div>
        <div class="mb-3">
            <div class="form-floating">
                <textarea class="form-control" placeholder="Write your note here" id="desc" name="desc"
                    style="height:150px;"></textarea>
                <label for="desc">Write your note</label>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Add Note</button>
    </form>
</div>
<div class="container-fluid p-3 gap-2">
    <div class="row">
        {% for note in AllNotes %}
        <div class="card col-sm-2 col-md-4 cpm">
            <div class="card-body">
                <h5 class="card-title">{{ note.heading }}</h5>
                <p class="card-text">{{ note.desc }}</p>
                <a href="/edit/{{ note.sno }}" class="btn btn-success">Edit</a>
                <a href="/delete/{{ note.sno }}" class="btn btn-danger">Delete</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock body %}