.bar{
    background : linear-gradient(to bottom, darkblue, blue);
    width : 20px;
    border : 1px solid red;
}
.active{
    background : linear-gradient(to bottom, darkgreen, green);
}

.selected{
    background : linear-gradient(to bottom, darkred, red);
}

#bar_area{
    position: fixed;
    display : flex;
    align-items: baseline;
    justify-content: center;
    bottom : 10px;
    background : radial-gradient(circle, rgb(255, 255, 255), rgb(126, 126, 211));
}

#bottom_line{
    position: fixed;
    bottom : 0;
    height : 10px;
    background : black;
}