.bar{
    background : linear-gradient(to bottom, #800080, #400040);
    width : 20px;
    border : 1px solid #f08080;
}
.active{
    background : linear-gradient(to bottom, #006400, #008000)
}

.selected{
    background : linear-gradient(to bottom, #8b0000, #ff0000);
}

.curr_i{
    background : linear-gradient(to bottom, darkgoldenrod, goldenrod);
}

#bar_area{
    display : flex;
    align-items: baseline;
    justify-content: center;
    /* bottom : 10px; */
    background : radial-gradient(circle, #ffffff, #7e7ed3);
    border-bottom: 10px solid #000000;
}

.nav-item{
    margin : 5px;
}