* {
    margin: 0;
    padding: 0;
}

/* css for the writing area  */

#warea {
    width: 90%;
    height: 20vw;
    margin: auto;
}

#parea {
    width: 100%;
    height: 20vw;
    font-size: 2rem;
    background-color: rgb(175, 173, 171);
}

/* css for the keyboard  */

#keyboard {
    width: 90%;
    /* height: ; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 2vh;
    margin-bottom : 10vh;
}

#row1 input {
    width: 3.2rem;
}

#row1 input[value="esc"] {
    width: 3.5rem;
}

.key {
    width: 3.6rem;
    height: 3rem;
    background-color: rgb(58, 52, 52);
    color: white;
    border-radius: 0.5rem;
    font-size: 1.3rem;
}

.key:hover {
    transform: scale(1.05);
}

input[value="backspace"] {
    width: 5.2rem;
    font-size: 1rem;
}

input[value="tab"] {
    width: 5.2rem;
}

input[value="delete"], input[value="insert"], input[value="prtscr"] {
    font-size: 1rem;
}

input[value="caps"] {
    width: 6rem;
}

input[value="enter"] {
    width: 6.6rem;
}

input[value="shift"] {
    width: 8.3rem;
}

#row6 {
    display: flex;
    justify-content: space-between;
}
#row6 input{
    margin: 0 0.22rem;
}

#arrow{
    display: grid;
    grid-template-areas: 
    '... up ...'
    'lt down rt';
    gap:0 1rem;
}
input[value="up"]{
    grid-area: up;
    border-radius: 0.2rem;
}
input[value="down"]{
    border-radius: 0.2rem;
    grid-area: down;
}
input[value="right"]{
    border-radius: 0.2rem;
    grid-area: rt;
}
input[value="left"]{
    border-radius: 0.2rem;
    grid-area: lt;
}
input[value="spacebar"]{
   width: 17rem;
}
#arrow input{
    height: 1.5rem;
}
