{% extends 'base.html' %}

{% block head %}
<title>FurniShop | Contant Us</title>
{% endblock %}

{% block body %}
<form>
    <div class="form-group">
        <label for="name">Name<label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name">
    </div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="phone">Phone Number</label>
        <input type="number" class="form-control" id="number" name="number" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="message">Message</label>
        <textarea class="form-control" id="message" name="message" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}