{% extends 'base.html' %}

{% block head %}
<title>FurniShop | Contant Us</title>
{% endblock %}

{% block body %}
<div class="container">
<div class="row">
<div class="col-md-12">
    <h1>Contact Us</h1>
</div>
</div>
<div class="row">
<div class="col-12 col-md-6">
<form class="bg-dark text-white p-3" method="POST">
{% csrf_token %}
    <div class="form-group mb-3">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name">
    </div>
    <div class="form-group mb-3">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
    </div>
    <div class="form-group mb-3">
        <label for="phone">Phone Number</label>
        <input type="number" class="form-control" id="number" name="number" placeholder="Enter Phone Number">
    </div>
    <div class="form-group mb-3">
        <label for="message">Message</label>
        <textarea class="form-control" id="message" name="message" rows="3" placeholder="Enter your message here"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>
</div>
{% endblock %}