{% include 'base.html' %}

{% block body %}
<div class="container-fluid">
    <div class="row bg-blue text-white p-5">
        <h4>Abous us</h4>
        <p>We provide you with a tool which can help you to get your text converted in to voice.</p>
    </div>
    <form method="post" enctype="multipart/form-data" class="p-5">
        <h4>Text area</h4>
        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="text" name="text"
                style="height: 100px"></textarea>
            <label for="text">Enter your text here</label>
        </div>
        <input type="submit" class="btn btn-primary my-3" value="Submit" />
    </form>
</div>
{% endblock body %}