*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color : #292929;
    display : grid;
    grid-template-rows: auto 1fr auto;
}

header, main, footer{
    padding: 0 20px;
}

header{
    width : 100%;
    display : grid;
    grid-template-columns: 25% 75%;
    align-items: center;

    nav{
        display : flex;
        align-items : center;
        justify-content: center;
        a{
            font-size : 1.4rem;
            padding : 10px;
            margin: 0 10px;
            color: white;
        }
    }
    .profile{
        --dim : 30px;
        width: var(--dim);
        height : var(--dim);
        border-radius : 50%;
        border: 1px solid #000;
        background: #92a;
    }
}


main{
    display : grid;
    grid-template-columns: 1fr 1fr;
    place-items : center;
    background-color: #069;
    h1{
        font-size : 2rem;
        color: #0bf;
        padding: 10px 0;
        background : #420;
    }
    section{
        min-width : 300px;
        background: #112;
        text-align: center;

        button {
            display : grid;
            place-items: center;
            cursor: pointer;
            overflow: hidden;
            background : #aaa;
            border: 1px solid #aaa;
            font-weight : 1000;
        }
    }
    .routine{
        height: auto;

        .task_area{
                overflow : hidden;
                .task, .add{
                display : grid;
                align-items : center;
                grid-template-columns: auto 1fr;
                padding: 5px;
                font-size : 1.5rem;
                color: #aaa;
                box-shadow : inset 2px 2px #888888;
                background : #420;
                transition : all linear 0.3s;

                input{
                    width : 20px;
                    height : 20px;
                }

            }
            .task::before{
                content : "X";
                position : absolute;
                width : 40px;
                height : 100%;
                background : #a00;
                color: #fff;
                font-weight : 1000;
                left : -40px;
                display : grid;
                place-items: center;
                transition: all linear 0.3s;
            }
            .task:hover{
                transform : translate(40px);
            }
            .add{
                display : flex;
                align-items: center;
                justify-content: center;
                button{
                    position : relative;
                    width : 120px;
                    height : 30px;
                    padding-left: 8px;
                    
                    span{
                        font-size : 1.5rem;
                        position : absolute;
                        left: 2px;
                    }
                }

            }
        }
    }

    .notes{
        background : #420;
        color: #0bf;
        display : grid;
        grid-template-rows: auto 1fr auto;
        padding: 0 8px;
        h1{
            padding: 10px;
        }
        ul{
            text-align: left;
            list-style-type: square;
            li{
                h3{
                    color: #ccc;
                    font-size : 1.3rem;
                }
                color: #aaa;
                background : #854;
                margin : 2px 0;
                padding: 3px 8px;
            }
        }

        button {
            width : 50%;
            padding: 5px;
            margin: auto;
        }
    }
}

footer{
    display : grid;
    place-items : center;
    background-color: #854;
    padding: 10px;
    color: darkblue;
}