.passholder p{
    border-bottom : 5px solid green;
}

.fa-clipboard{
    cursor : pointer;
    width : fit-content;
    height : fit-content;
    padding : 5px;
    padding-bottom: 20px;
}

.fa-clipboard:hover{
    color :green;
    background : #000;
    width : fit-content;
    height : fit-content;
}

.row{
    background : #ccc;
    padding : 10px 0;
    border-radius : 20px;
}